.vscode
.git
.run/
bin/
pkg/
src/
vscode.sh
coverage.txt
__debug_bin
.templates/
.telegraf/
.cmdb/
.temp/
.idea/
config.yml
config.json
query.data
datadog.json
logreport.json
pubsub.json
slack-message.tpl
slack-runbooks.tpl